<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="cloudConfiguration" type="Nx.Cloud.Configuration.CloudConfigurationSection, Nx.Cloud"/>
  </configSections>

  <cloudConfiguration
    storageConnectionString="UseDevelopmentStorage=true"
    />
</configuration>