<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <apikeys>
    <add key="https://www.nuget.org" value="1a3ede72-1a8a-42c2-b61c-0ed1b71324ea" />
    <!--<add key="https://www.nuget.org" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAA3rJbo5EIUU+5OH6OUIxq0wAAAAACAAAAAAADZgAAwAAAABAAAABJy5PDvVH6wPN576LtsEzFAAAAAASAAACgAAAAEAAAAFM5O60jmQBAY9GXeg/20MgoAAAAIZ/JqiafaSHxOue61NOnILeb8V1eKWljiYTPAUr5OaR3Sq7ohGAQzhQAAAB3lXwfcPKzP9scQHFJLm553LPLIw==" />-->
    <!--<add key="http://nuget.gw.symbolsource.org/Public/NuGet" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAA3rJbo5EIUU+5OH6OUIxq0wAAAAACAAAAAAADZgAAwAAAABAAAAArKIECSIRzXQHUAf3VQ56sAAAAAASAAACgAAAAEAAAAJgBYTk2WU4n7VamPNO+7lsoAAAAn0GUFwI+N9c5aQVMGxkxASmJot6LwjbcwcRbimxgtMYTMaPFXGgXWxQAAAAdnninI16nlt63F1f5KTxl/vTfyA=="/>-->
  </apikeys>
  <packageSources>
    <add key="NuGet official package source" value="https://www.nuget.org" />
  </packageSources>
</configuration>